body {
  background-image: url(../images/app__bg.png);
  font-size: 15px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #fff;
}

.container {
  max-width: 1630px;
  margin: 0 auto;
  padding: 0 15px;
}

.container__big {
  max-width: 1930px;
  margin: 0 auto;
  padding: 0 15px;
}

.none {
  display: none;
}

.block{
  display: block;
}

.logo {
  width: 40px;
  height: 40px;
}

.main {
  height: 100vh;
  // position: relative;
  .to-bottom {
    // position: absolute;
    // width: 100%;
    // height: auto;
    // bottom: 90px;
  }
}


.width-50{
  display: none;
  max-width: 50%;
}
.sliders__wrapper{
  transition: all 9s;
  &-bottom{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
  }
}
.search__button{
    margin-left: 10px;
    border: none;
    border-radius: 7px;
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    transition: background-color .2s ease-in;
    &:hover{
        background-color: rgb(145, 135, 235);
    }
}