body {
  // background-image: url(../images/app__bg.png);
  font-size: 15px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #fff;
}

.container {
  max-width: 1630px;
  margin: 0 auto;
  padding: 0 15px;
}

.container__big {
  max-width: 1930px;
  margin: 0 auto;
  padding: 0 15px;
}

.none {
  display: none;
}

.block{
  display: block;
}

.logo {
  width: 40px;
  height: 40px;



  @media(max-width: 460px) {
    display: none;
  }
}

.main {
  height: 100vh;
  // position: relative;
  .to-bottom {
    // position: absolute;
    // width: 100%;
    // height: auto;
    // bottom: 90px;
  }
}

.pt-50{
  padding-top: 50px;
}

.width-50{
  display: none;
  max-width: 50%;
}
.sliders__wrapper{
  transition: all 9s;
  &-bottom{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    padding-bottom: 20px;

    @media(max-width: 1780px) {
      justify-content: center;

    }

    @media (max-width: 816px) {
      h1{
        font-size: 20px;
        margin-bottom: 5px;
      }
  }
  }
}
.search__button{
    margin-left: 10px;
    border: none;
    border-radius: 7px;
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    transition: background-color .2s ease-in;

    @media(max-width: 473px) {
      padding: 5px;
      margin-left: 1px;
    }
    &:hover{
        background-color: rgb(145, 135, 235);
    }
}

.search__big-background{
  height: 680px;
}

.test{
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}


.text-bold{
  font-weight: 600
}