.premieres{

    &__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .premieres__cart{
        img{
            max-width: 300px;
            max-height: 300px;
        }
    }
}

